
#slider-container {
  background-color: #1a3d5d;
  height: 51em;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
#slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 90vh;
}
#logo-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10% 6em 0;
  width: 9em;
}
#slider-container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.slick-slide {
  display: flex!important;
  align-items: flex-end!important;
}
.slick-slider, .slick-track, .slick-list {
  height: -webkit-fill-available;
}
#slider-container h1 {
  font-family: 'Lalezar', cursive;
  font-size: 75px;
  width: 7em;
  color: white;
  text-shadow: 6px 7px black;
  position: absolute;
  bottom: 0;
  margin: 0 1em;
  left: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@media only screen and (max-width: 1000px) {
  .slick-slide {
    align-items: flex-start!important;
  }
  #slider-container h1 {
    bottom: 6em;
  }
  #logo-banner {
    margin: 0em 10% 2em 0;
  }
  #slider-container h1 {
    font-size: 50px;
  }
  #logo-banner {
    width: 11em;
  }
}
@media only screen and (max-width: 450px) {
  #slider-container h1 {
    bottom: 10em;
    font-size: 35px;
    text-shadow: 3px 4px black;
  }
  #logo-banner {
    width: 10em;
  }
  #banner { 
    height: 40em;
  }
}
@media only screen and (max-width: 450px) {
  #banner h1 {
    font-size: 25px;
  }
  #banner {
    height: 30em;
  }
  #logo-banner {
    width: 8em;
  }
}