
#slider-container {
  background-color: #1a3d5d;
  max-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#logo-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10% 6em 0;
  width: 15em;
  z-index: 10;
}
#slider-container .slick-slide {
  display: flex!important;
  align-items: flex-end!important;
}

#slider-container .main-content {
  max-height: 100vh;
}

#slider-container .main-content img {
  height: 100%;
  overflow: hidden;
  max-height: 1920px;
  min-height: 100vh;
}

#slider-container h1 {
  font-family: 'Lalezar', cursive;
  font-size: 75px;
  width: 7em;
  color: white;
  text-shadow: 6px 7px black;
  position: absolute;
  top: 0;
  margin-top: 500px;
  margin-left: 150px;
  z-index: 2000;
}

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@media only screen and (max-width: 1220px) {
  #slider-container h1 {
    font-family: 'Lalezar', cursive;
    font-size: 75px;
    width: 7em;
    color: white;
    text-shadow: 6px 7px black;
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 150px;
    z-index: 2000;
  }
}

@media only screen and (max-width: 1000px) {
  #slider-container .slick-slide {
    align-items: flex-start!important;
  }
  #slider-container h1 {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 32px;
    text-shadow: 3px 4px black;
  }
  #logo-banner {
    margin: 0em 10% 10em 0;
  }
  #logo-banner {
    width: 11em;
  }
}
@media only screen and (max-width: 450px) {
  #logo-banner {
    width: 10em;
  }
  #banner {
    height: 40em;
  }
}
@media only screen and (max-width: 450px) {
  #banner h1 {
    font-size: 25px;
  }
  #banner {
    height: 30em;
  }
  #logo-banner {
    width: 8em;
  }
}