@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100vw;
    z-index: 20;
}
#navbar {
    list-style: none;
    display: flex;
    padding: 0;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.show-navbar {
    background-color: transparent !important;
    transition: background 800ms !important;
}

#navbar a {
    text-decoration: none;
    font-family: 'Lalezar', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    text-shadow: 2px 3px black;
}
#navbar li {
    width: max-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-container img {
    width: 50%;
}
.dropdown {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    width: 76px;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
}
.dropdown-content {
    list-style: none;
    padding: 0;
    height: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    display: none;
    background-color: #66826B;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
.dropdown-content a {
    padding: 10px;
    width: -webkit-fill-available;
}
.dropdown li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown .casamento {
    border-bottom: 2px solid #445B4F;
    border-top: 2px solid #445B4F;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2em;
}

.changeBars1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.changeBars2 {opacity: 0;}

.changeBars3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}
.container-menuDown {
    display: none;
    width: fit-content;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.menuDown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #052A4F;
    width: 50%;
    box-shadow: -5px 4px 12px #1c231659;
    padding-top: 6em;
    z-index: -1;
}
.menuDown ul {
    padding: 0;
    list-style: none;
    margin-top: 8%;
}

.menuDown .transition-links {
    animation-name: slider-items;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.menuDown .back-transition-links {
    animation-name: back-slider-items;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.menuDown ul li {
    height: 3em;
    display: flex;
    align-items: center;
}

.menuDown ul li a, .menuDown ul li p {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Lalezar', cursive;
    font-size: 2.4rem;
    width: 100%;
    height: 100%;
    margin-left: 2em;
    text-decoration: none;
    cursor: pointer;
}
.menuDown ul li:hover {
    border-left: 5px solid #b0d2e0;
    transition: 250ms;
}

.showMenu {
    display: block;

    animation-name: show-item;
    animation-duration: 1s;
    animation-fill-mode: forwards !important;
}

.hiddenMenu {
    animation-name: hidden-item;
    animation-duration: 1s;
    animation-fill-mode: forwards !important;
}

.back-transition-logo {
    z-index: 200;
    position: relative;
    animation-name: back-logo-transition;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
   
}

.transition-logo {
    animation-name: logo-transition;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    position: relative;
    z-index: 200;
}

#luz {
    position: absolute;
    right: 0;
    bottom: 2%; 
}


@media only screen and (max-width: 970px) {
    .menuDown {
        width: 50%;
    }
    .container-menuDown {
        display: block;
        margin-right: 3em;
    }
    .container-menuDown .menu {
        cursor: pointer;
    }
    #navbar {
        display: none;
    }
    nav {
        justify-content: space-between;
    }

    @keyframes logo-transition {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 72%;
        }
    }

    @keyframes back-logo-transition {
        from {
            margin-left: 72%;
        }
        to {
            margin-left: 0%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .menuDown {
        width: 60%;
    }
    #logo-container img {
        width: 60%;
    }


    @keyframes logo-transition {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 42%;
        }
    }

    @keyframes back-logo-transition {
        from {
            margin-left: 42%;
        }
        to {
            margin-left: 0%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .menuDown {
        width: 80%;
    }
    .menuDown ul li a,.menuDown ul li p {
        font-size: 2.0rem;
    }
    #logo-container img {
        width: 90%;
    }

    @keyframes logo-transition {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 16%;
        }
    }

    @keyframes back-logo-transition {
        from {
            margin-left: 16%;
        }
        to {
            margin-left: 0%;
        }
    }
}


@keyframes slider-items {
    from {
        opacity: 0;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes back-slider-items {
    from {
        opacity: 1;
        margin-left: 0%;
    }
    to {
        opacity: 0;
        margin-left: 100%;
    }
}

@keyframes show-item {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hidden-item {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
