<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>
    <div class="secao-contato">
        <div class="blur-degrade">
            <div class="infos-contato">
                <div class="container-whatsapp">
                    <img class="svg-whatsapp" src="whatsapp.png" alt="">
                    <p>(31) 9 8505-6323</p>
                </div>
                <div class="container-email">
                    <img class="svg-email" src="gmail.png" alt="">
                    <p>ascenderjr@gmail.com</p>
                </div>
                <div class="container-social-media">
                    <a href="" id="instagram"><img class="instagram" src="instagram.png" alt=""></a>
                    <a href="" id="linkedin"><img class="linkedin" src="linkedin.png" alt=""></a>
                    <a href=""><img class="facebook" src="facebook.png" alt=""></a>
                </div>
                <p>Ascender Jr. - Soluções em Energia | © 2020 Universidade Federal de Ouro Preto CNPJ: 20.413.778/0001-30</p>
            </div>
            <div class="form-contato">
                <h2>Contato</h2>
                <form action="">
                    <div class="alinhar-svg-input">
                        <img class="svg-input" src="user-form.png" alt="">
                        <input type="text" placeholder="Nome">
                    </div>
                    <div class="alinhar-svg-input">
                        <img class="svg-input" src="envelope-form.png" alt="">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="alinhar-svg-input">
                        <img class="svg-input" src="card-form.png" alt="">
                        <input type="text" placeholder="Assunto">
                    </div>
                    <div class="alinhar-svg-input">
                        <img class="form-msg-img svg-input" src="note-form.png" alt="">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Mensagem"></textarea>
                    </div>  
                    <button>ENVIAR</button>
                </form>
            </div>
        </div>
        <footer>
            <p>
                Made with
                <img src="code.svg" class="ch-footer" alt="">
                and
                <img src="coracao.svg" class="ch-footer" alt="">
                by
                <a href="https://www.citi.org.br/">
                    <img id="citi-logo" src="citi-logo.png" alt="">
                </a>
            </p>
        </footer>
    </div>

</body>
</html>